*{
    margin-top:10px;
    margin-bottom:10px;
    margin: right 0px;margin-left:0px;
    color: #000000;
    box-sizing: border-box;
}

@media screen and (max-width: 1050px) {
    .png-column{
        width: 50%
    }
}

.contact-section{
    display:flex;
    flex-direction:row;
    justify-content:center;
    list-style:none;
    
    

}
.name{
    font-size:500%;
    margin: left 5%;
    margin: right 5%;
    text-align:center;
    font-weight:bold;

}

.intro{
    font-size: 150%;
    margin-left:5%;
    margin-right:5%;
    
    margin-bottom:5%;
}

.navBar{
    font-style:Times New Roman;
    color:black;
    font-size:20px;
    box-shadow:none;
    border-bottom:2px solid black;
    text-transform:uppercase;
    margin:1px;
    
}

.navBar h3{
    margin:3%;
    
}
nav button{
    font-style:Times New Roman;
    color:black;
    font-size:20px;
    box-shadow:none;
    background:transparent;
    border:none;
    text-transform:uppercase;
    
  }
nav{
    display:flex;
    flex-direction:row;
    justify-content:center;
    list-style:none;
    margin:-2%;
    font-family: Times 'Times New Roman', Times, serif;
    text-transform:uppercase;
    
}
.copyright{
    text-align:center;
}

.purple-background{
    background-color: #c691f8;
    display: flex;
    flex-direction:column;
    justify-content: cneter;
    align-items: center;
}

.section-title{
    font: size 300%;
    text-align: center;
    font-weight: bold;
    margin-top:0px;
}

p{
    margin:0;
    margin-top:1.5rem;
    font-size:1.15rem;
}

.project{
    font-size: 150%;
}

.margin{
    margin-left:110px;
    margin-right: 110px;
    margin-top: 30px;
    margin-bottom:50px;
}

.highlight-white {
    background: linear-gradient(180deg,rgba(255,255,255, 0) 65%, #ffffff 65%);
}
